*.iml
*.ipr
*.iws
target/
pom.xml.versionsBackup
test-output/
test-reports/
tempto_logs/
.idea
.DS_Store
.classpath
.settings
.project
temp-testng-customsuite.xml
test-output
.externalToolBuilders
*~
benchmark_outputs
*.pyc
*.class
.checkstyle
